.demo-card-wide.mdl-card {
    width: 812px;
    margin: 0 auto;
  }
  .demo-card-wide > .mdl-card__title {
    color: black;
    height: 170px;
  }
  .demo-card-wide > .mdl-card__menu {
    color: black;
  }